<div class="row ">
  <div class="col-12">口罩地圖</div>
  <div class="col-12"></div>
  <div class="col-12 ">
    <div class="row card-list ">
      <div class="col-12" *ngFor="let item of features">
        <div class="card m-2">
          <div class="card-body">
            <h5 class="card-title">{{item.properties.name}}</h5>
            <p class="card-text">地址：{{item.properties.address}}</p>
            <p class="card-text">電話：{{item.properties.phone}}</p>

            <a href="#" class="btn btn-success m-2">成人口罩剩餘：{{item.properties.mask_adult}}</a>
            <a href="#" class="btn btn-warning m-2">兒童口罩剩餘：{{item.properties.mask_child}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
